.video {
    width: 90%;
    aspect-ratio: 1/1;
    display:block;
    margin: 8% auto;
    background-color: #f0f0f0;
}
.margen-bajo {
    margin-bottom: 8%;
}
.flex-horizontal {
    width: 98%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2%;
    gap: 4%;
}
.reserva {
    background-color: blueviolet;
    transition: all 0.5s ease;
}
.reserva:hover {
    background-color: rgb(71, 0, 138);
}
.boton {
    flex: 0 0 45%;
    margin: 2% 0;
}
.imagen {
    flex: 0 0 28%;
}
.imagen img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


@media (min-width: 1024px) {
    .video {
        width: 60%;
        aspect-ratio: 20/9;
        margin: 2% auto;
    }
    .botones-contenedor {
        width: 70%;
        margin: 0 auto;
    }
    .boton {
        flex: 0 0 20%;
    }

}