* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}
body {
    background-color: black;
}

.oculto {
    display: none;
}


/* estilos para mi menu */
.boton-del-menu {
    /* si alguna propiedad para el ancho del texto agregala */
    padding: 2%;
    background-color: white;
    display: block;
    border: none;
    font-size: 1.8em;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}
.menu {
    background-color: white;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 2%;
    justify-content: center;
    align-items: center;
}
nav {
    display: none;
}
.logo-del-menu {
    width: 20%;
    margin: 0 auto;
}

/* ahora aquí voy a poner los estilos para las secciones centradas en general */
.seccion {
    padding: 2%;
    width: 90%;
    box-sizing: border-box;
    margin: 0 auto;
    margin: 12% auto;
}
.seccion-100 {
    width: 100%;
    padding: 8% 2%;
    margin: 0;
}
.seccion-centrada {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.galeria-servicios {
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
    position: relative;
}
.galeria-fotos {
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
    position: relative;
}
.seccion-centrada:hover, .seccion-centrada:active {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
.titulo-seccion {
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    letter-spacing: 5px;
    text-align: center;
}
.descripcion-seccion {
    font-size: 0.8em;
    font-family: 'Arial', sans-serif;
    text-align: center;
    width: 70%;
    margin: 4% 0;
}
.enlace-boton {
    padding: 2% 6%;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: 4%;
}

/* fondos de las secciones */
.seccion-plan-pareja {
    background-image: url("img/spa-en-pareja.png");
    background-size: cover;
    background-position: center;
}
.seccion-ninos {
    background-image: url("img/seccion-ninos.png");
    background-size: cover;
    background-position: center;
}
.seccion-descuento {
    background-image: url("img/seccion-descuento.png");
    background-size: cover;
    background-position: center;
}
.seccion-sede {
    background-image: url("img/seccion-sedes.png");
    background-size: cover;
    background-position: center;
}
/* estilos de la parte de los videos */
.seccion-video {
    padding: 12% 2%;
}
.video-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
.video {
    width: 94%;
    aspect-ratio: 16 / 9;
    border: none;
}
.video:hover, .video:active {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
.video-titulo {
    font-size: 1.8em;
    margin-bottom: 4%;
}

/* css de la parte de las reseñas */
.seccion-centrada-horizontal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.seccion-resenas {
    background-color: white;
    color: black;
    padding: 8%;
    box-sizing: border-box;
}
.titulo-resena {
    margin-bottom: 6%;
}
.resena {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    box-sizing: border-box;
    margin: 5% 0;
}
.foto-usuario {
    width: 35%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}
.nombre-usuario {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 4%;
}
.estrella {
    color: gold;
    font-size: 1.8em;
}

/* de la parte de estilos de instagram */
.boton-azul {
    background-color: rgb(0, 123, 255);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 2% 6%;
    font-size: 1.3em;
}

/* otras imagenes e instagram sección */
.encabezado-instagram {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 4%;
}
.imagen-logo-instagram {
    flex: 0 0 25%;
    margin-right: 6%;
}
.logo-instagram {
    width: 100%;
    margin-right: 4%;
    border-radius: 50%;
    display: inline-block;
}
.imagenes-instagram {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;;
}
.publicacion-instagram {
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    margin: 4% 0;
}
.publicacion-instagram-imagen {
    width: 100%;
    border-radius: 10px;
}
.publicacion-instagram-imagen:hover, .publicacion-instagram-imagen:active {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
/* estilos del pie de página */
footer {
    background-color: #000000;
    color: white;
    padding: 4%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
}
.seccion-footer {
    margin: 4% 0;
}
footer li, .lista-footer {
    list-style: none;
    margin: 2% 0;
}
.logo-footer {
    width: 64%;
    border-radius: 20px;
    margin-top: 8%;
    margin: 4% auto;
}

/* estilo generales de los colores de letra */
.blanco {
    color: white;
}
.negro {
    color: black;
}
.amarillo-palido {
    /* pon un amarillo palido de color de letra */
    color: #b09811;
}
.enlace-normal {
    display: block;
    text-decoration: none;
}
.upper {
    text-transform: uppercase;
}
.sombra-texto {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
}
.fondo-amarillo {
    background-color: rgb(255, 165, 69);
}
.fondo-oscuro {
    background-color: #333;
}
.fondo-negro {
    background-color: #000000;
}
.bold {
    font-weight: bold;
}
.font_13 {
    font-size: 1.3em;
}
.font_08 {
    font-size: 0.8em;
}
.family_sans {
    font-family: sans-serif;
}
.margin_bottom {
    margin-bottom: 4%;
}
/* general para bottones */
.boton-centrado {
    display: block;
    margin: 0 auto;
}
.boton-centrado:hover, .boton-centrado:active  {
    transform: scale(1.08);
    transition: transform 0.3s ease-in-out;
}
.boton-azul {
    background-color: rgb(0, 90, 186);
    border: none;
    border-radius: 14px;
    padding: 4% 8%;
    font-size: 1.2em;
}
.boton-azul:hover, .boton-azul:active {
    background-color: rgb(0, 112, 232);
}
.margin-vertical {
    margin: 4% auto;
}

/* sección de animación para el scroliing */
/* mira querido copilot, necesito que hagas un efecto de   fade in on scroll para todos los elementos o secciones relevantes de esta página, ten mucho cuidado de no romper nada y solo genera el codigo desde este comentario en adelante, no modifiques nada de mi css anterior. */
.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

footer a:hover, footer a:active {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .boton-del-menu, .boton-cerrar {
        display: none;
    }
    nav {
        display: block;
    }
}